<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ru.krikun.s2e"
	  android:installLocation="internalOnly"
      android:versionCode="15"
      android:versionName="@string/app_version">

    <uses-sdk android:maxSdkVersion="17" android:minSdkVersion="9" android:targetSdkVersion="14" />

    <application android:label="S2E" android:icon="@drawable/ic_launcher">
        <activity android:name="Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Settings"
                  android:label="@string/settings">
        </activity>
        <activity android:name="About"
                  android:label="@string/about">
        </activity>
    </application>
</manifest>
